{"swagger":"2.0","info":{"version":"3.1.77-SNAPSHOT"},"host":"nadim.arbetsformedlingen.se","basePath":"/nadim/api","schemes":["http"],"paths":{"/elettermessages":{"post":{"summary":"Creates an Eletter ","description":"","operationId":"postMessage","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EletterMessageRequest"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IdResponse"}},"400":{"description":"Invalid business system or the business system is not enabled"},"500":{"description":"Message could not be saved, persistence exception"},"415":{"description":"Unsupported content type"},"503":{"description":"The message could not be processed, the system was busy, wait at least ten seconds before the next attempt"},"406":{"description":"Invalid message type"}}}},"/emailmessages":{"post":{"summary":"Creates an Email ","description":"","operationId":"postMessage","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EmailMessageRequest"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IdResponse"}},"400":{"description":"Invalid business system or the business system is not enabled"},"500":{"description":"Message could'nt be saved, persistence exception"},"503":{"description":"Message could'nt be handled, system is too busy, please wait at least ten seconds before next attempt"},"415":{"description":"Unsupported content type"},"406":{"description":"Invalid message type"}}}},"/emailmessages/list":{"post":{"summary":"Creates a  Emails ","description":"","operationId":"postEmailMessage","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/EmailMessageListRequest"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IdResponse"}},"400":{"description":"Invalid business system or the business system is not enabled"},"500":{"description":"Message could'nt be saved, persistence exception"},"503":{"description":"Message could'nt be handled, system is too busy, please wait at least ten seconds before next attempt"},"415":{"description":"Unsupported content type"},"406":{"description":"Invalid message type"}}}},"/failed/{id}":{"get":{"summary":"Gets a message from the SerializedMessage  by its external id","description":"","operationId":"getByExternalId","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/far":{"get":{"summary":"Get a list of DigitalMailResponse objects, id and operator. Each id corresponds to each id comma separated as a query param. If operator is null, no digital mail service was found for that specific id","description":"","operationId":"getDigitalMailResponseList","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ids","in":"query","description":"Comma separated string of internal or external ids","required":true,"type":"string"}],"responses":{"200":{"description":"Response","schema":{"type":"array","items":{"$ref":"#/definitions/DigitalMailResponse"}}},"400":{"description":"No ids received, you must send at least one id query parameter"},"500":{"description":"Internal error"}}}},"/flows":{"get":{"operationId":"getStatistics","produces":["application/json"],"parameters":[{"name":"systems","in":"query","required":false,"type":"string"},{"name":"types","in":"query","required":false,"type":"string"},{"name":"from","in":"query","required":false,"type":"string"},{"name":"to","in":"query","required":false,"type":"string"}],"responses":{"default":{"description":"successful operation"}}}},"/messagearchiveresource":{"get":{"summary":"Gets multiple messages from the archive by its internal or external id","description":"","operationId":"getMessagesByListOfIds","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"ids","in":"query","description":"comma separated string of internal or external ids","required":true,"type":"string"}],"responses":{"200":{"description":"Response","schema":{"type":"array","items":{"$ref":"#/definitions/MessageArchive"}}},"400":{"description":"No ids received, you must send at least one internal or external id"},"500":{"description":"Internal error"},"204":{"description":"No message found"}}}},"/messagearchiveresource/{id}":{"get":{"summary":"Gets a message from the archive by its internal or external id","description":"","operationId":"getMessageById","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Internal or external id","required":true,"type":"string"}],"responses":{"200":{"description":"Response","schema":{"$ref":"#/definitions/MessageArchive"}},"400":{"description":"No id received, you must send  one internal or external id"},"500":{"description":"Internal error"},"204":{"description":"No message found"}}}},"/smsmessages":{"post":{"summary":"Creates a Sms ","description":"","operationId":"postMessage","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SmsMessageRequest"}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IdResponse"}},"400":{"description":"Invalid business system or the business system is not enabled"},"500":{"description":"Message could'nt be saved, persistence exception"},"503":{"description":"Message could'nt be handled, system is too busy, please wait at least ten seconds before next attempt"},"415":{"description":"Unsupported content type"},"406":{"description":"Invalid message type"}}}},"/smsmessages/list":{"post":{"summary":"Creates a list of Sms ","description":"","operationId":"postMessagelist","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":false,"schema":{"type":"array","items":{"$ref":"#/definitions/SmsMessageRequest"}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/IdResponse"}},"400":{"description":"Invalid business system or the business system is not enabled"},"500":{"description":"Message could'nt be saved, persistence exception"},"503":{"description":"Message could'nt be handled, system is too busy, please wait at least ten seconds before next attempt"},"415":{"description":"Unsupported content type"},"406":{"description":"Invalid message type"}}}}},"definitions":{"SmsPhoneNumberRequest":{"type":"object","required":["phoneNumber"],"properties":{"phoneNumber":{"type":"string","example":"+468000000","description":"A valid Swedish phone number, prefixed with +46"}}},"IdResponse":{"type":"object","required":["id"],"properties":{"id":{"type":"string"}}},"EmailMessageRequest":{"type":"object","required":["body","contentType","emailAddress","externalId","messageCategoryId","messageTypeId","subject","systemId"],"properties":{"recipientId":{"type":"string","example":"YYYYMMDDXXXX","description":"A swedish personal number or an organization number"},"externalId":{"type":"string","example":"b9377f44-d006-4d81-803f-1abd24b1dba2","description":"A unique UUID generated by the client","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"messageTypeId":{"type":"string","example":"1","description":"A message type id ","pattern":"^[0-9]{1,5}$"},"systemId":{"type":"string","example":"1","description":"A system id agreed with the client","pattern":"^[0-9]{1,5}$"},"subject":{"type":"string"},"body":{"type":"string","example":"UmVzdGF1cmFuZ2vDtms","description":"A base64 encoded string"},"contentType":{"type":"string","example":"text/plain","description":"text/plain or text/html","pattern":"^(text)/(plain|html)","enum":["[text/plain","text/html]"]},"messageCategoryId":{"type":"string","example":"1","description":"A predefined message category id","pattern":"^[0-9]{1,5}$"},"messagePayloads":{"type":"array","items":{"$ref":"#/definitions/MessagePayLoadRequest"}},"emailAddresses":{"type":"array","items":{"type":"string"}},"emailAddress":{"type":"string","example":"foo.bar@foo.se","description":"An valid email address"}}},"DigitalMailResponse":{"type":"object","required":["id"],"properties":{"id":{"type":"string","readOnly":true},"operator":{"type":"string","readOnly":true}}},"StatusArchive":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"status":{"type":"string"},"created":{"type":"string","format":"date-time"},"messageArchive":{"$ref":"#/definitions/MessageArchive"}}},"MessagePayLoadRequest":{"type":"object","required":["contentType","fileName","payload"],"properties":{"payload":{"type":"string","example":"JVBERi0xLjMKJcfsj6IKNSAwIG9iago8PC9MZW5ndGggNiAwIFIvRmlsdGVyIC9GbGF0ZURlY29kZT4+CnN0cmVhbQp4nHWOzQuCQBDFyb5siv6GOerBbXdW9+MaRNAt2Vt2MhICA+3/h1YrsIMzlx9v3hteg5wJQt7tD8oadrnG6gW9jPnxC20FDRgmu+mFIZc17p0PWrTMKnR34MxaK43qzwJJK5Ya1EoyMgJdDdEkmM7mi2XsHpCQ8DmdYfKJ3+ASLeOEM0qFTHUUDng14OI5cgjHTP+fFCeWSXt1JyAi30Bjoow3mK5DtN6EQdFuu4YHB2e/bzqMOmRlbmRzdHJlYW0KZW5kb2JqCjYgMCBvYmoKMTgzCmVuZG9iago0IDAgb2JqCjw8L1R5cGUvUGFnZS9NZWRpYUJveCBbMCAwIDU5NSA4NDJdCi9Sb3RhdGUgMC9QYXJlbnQgMyAwIFIKL1Jlc291cmNlczw8L1Byb2NTZXRbL1BERiAvVGV4dF0KL0V4dEdTdGF0ZSAxMCAwIFIKL0ZvbnQgMTEgMCBSCj4+Ci9Db250ZW50cyA1IDAgUgo+PgplbmRvYmoKMyAwIG9iago8PCAvVHlwZSAvUGFnZXMgL0tpZHMgWwo0IDAgUgpdIC9Db3VudCAxCi9Sb3RhdGUgMD4+CmVuZG9iagoxIDAgb2JqCjw8L1R5cGUgL0NhdGFsb2cgL1BhZ2VzIDMgMCBSCj4+CmVuZG9iago3IDAgb2JqCjw8L1R5cGUvRXh0R1N0YXRlCi9PUE0gMT4+ZW5kb2JqCjEwIDAgb2JqCjw8L1I3CjcgMCBSPj4KZW5kb2JqCjExIDAgb2JqCjw8L1I5CjkgMCBSPj4KZW5kb2JqCjEyIDAgb2JqCjw8L0xlbmd0aDEgNjE0NC9GaWx0ZXIvRmxhdGVEZWNvZGUvTGVuZ3RoIDEzIDAgUj4+c3RyZWFtCnic7Vh9dFTFFb/z5r23u9lN3kf2M1+7myUQDbAhm4V8rMmCiTkEIkuMMVFWCeErIhINpuHjEFDQEFtAXVDRarAWxBgBa5VAT4s1sZSmfkDCsSVN8TQce/SkyfFUUzD70vs2CdRja63H/5r57cy8uTNv5t47996Zt0AAIBq2AoXAolvcGRBJcgEW5dVrq2rH2uL7AKS8un6948bukmYk9GL++8raVWtnLj5DsQ/7IXHVPRtWjo2nmQDa5atXVC1/d1vrFQDLaSTOXo0E/Z3cwzh+CNtTVq9d3zC+3rMAnOGeddVVY239U9jOWlvVUMvmkmEAxohEx71Va1eMj0/Fwla7rm79WNvyktpfe/+KWnNP8Socj+uDAjD6EeaPMV/gKJfM5rHl3GlugE/jC5QHlCXQCWchBO18AI6MjifuNPTxBWTe6LdMsBMOjD+dgWEuE9rgFTgJL8EJNgVs5CfQBxkwzNhhH6mFTVDNHGT6lQ+hiaSSuUj9KeTAQWhjauB1SMN3lyjtsBkWwjrYAu3wCPRDKzQy+/kCGCapbAuzDYqZP1KKM88lqTAMTfASwysBlOD3UAN7oeGYXZjucjQ3FwYqnM74woLKGdMXlFYUFsQ7nZUzVFXhfvMBJQDAnkO9/IbTq5SvJKJSmGegAZKgEDhgQAQz7MOecyglBeK/KS5quf32hS57vtZlF2Jc9miDy66Pctuj+Gg7x6bYKeO267Q+OwG3XcO77dXLbheCd1wU7my4KDTcUSaUyC3CDfJx4vDnCj55SMjNuSjcIsfaF4s2e4HYItxvOissE5cKd4kXhQqsy7Euw5yHOUd8XZiDdYZHfV8QPOKDggnbsZgl8Tjx++MFWXxOEGXZLiTUJtQmbk1k7fw6/nmeZpB2MgraBbdUHCVHya7KHT9SH7cmVtbVkbSvJ/g3tDTUA6OqjJ7lsAANgFNySilYEGDOhu9lSsOvcvAl+Nmtqi7bUdMhbgB0kOm33MoRlnK8hsjA8nqdRmRYYMxRospFYX3leWuvTwz3Qn5+2Ceeev9UcFa6x+uUOG+K5DS1k0eVB5gAeTTENlZubL9yKISzh3D2PE4Deljin1VAy+hyup4+quNorFar08UyDKU6LcMxvBYdkuH0vIemc4QDnd4DFkNk3ZvUdcMdYm+wIyzJ2dmQ78v3qQ8aVgxrxDCoXEgegllyEZcUOsGUMAfeCB+hnGbkDnrgSpi+MlKGvLw4+hEb5JIhGZr9t2Xo5+mXmZtZlrNP02bHFcjz48qjSuWV5O64NfEb4jbFPxy1M645XojSaQ1cXLwlKYmzGFjBSWWnxigL5CodCgx5ooVYuLwkyeK6xnH3QG8wXN9hVTlVM/IdzkcBLNlXKch4kJimuhwmo9nOsCYj60pO8bKejNnezKluMpN4M2d7MuhnfzisfL78kS0NxKL8ZfCgcpnwbY+/uurA9s6nP+1pYy+1lr0+v9I9/bpln7zWU/R2fV1VcXlu+vz9W9t+iZYATaMD7HNsOdghFcr9c6hRNKYKDmOWkG70GzcKzcLTQpS2ODmZkaNlWWeTk6bJDK3hNnBMglnUgWOKJHBF14n1560dA72nOsK9Qcgf6B5RRcl21//JikKk8K7kqd7MKbnI8FRXssaLXJtNktHsyZhjwT4qRUREUW782Wt73yLTv9i4sr71zbPH32u9Pic2Ta72PF6aq6xZXb7toX0vP3j43WDdsqWHF7z4WyV7WVFUvYOYiXxh0VKUpXH0Y9bLp0EMWGGu/zobSbAW6KmVgMEgyTodmuoNlMaIRG8tNN5qZIwS8CLP8DbxfHAg2OvzhdU9wJ8YMV2nF3ljvKLsybCg7VBknTeJyDOt3dN9vGek68jGzs7m7Q/uvnToia5LJOkLEkNKQkzN5R46M9T/nrJNPXQiFn4M458JbvbPVNdz8LX8Vp4zMrJE86NlbTQwejE2ELtF06xhY0EyoVO58UWrOWIsBaqxBH1d6FFo4apr5fvCPpU9yel1RizAYlJZSyROk1Miv1A+JKndn7XsfnzXkxsYTfgyfSxU13867VlP3Z6m0Mg6dc83KUvY2extYIMpyJV3HyE2PiGuUKSJcoxO0rpu0DJUtgoL2UJHBXurY4W5zszHihwvxjkkPNxEPaNPQZ11DfR2dJwKByOWi4yp9ho7x+xxSHOuac7rkYy8hncmEymiQHWfu03HniI+3eZPT1xQfvf8/vaskk3Klf3kwo5d2/Zsue+IsvfgAjKj4yMSP0Q4UrR388gz53pKH6IppHXfxTOtb6EEbRi6zLjTGAlgqt+kyeKzGZlqgeGzdJzIqIqPEvuCXeHucERl4XF9SdTrMTFZaiDqG6Yvh778NZc5PKwOvzZjol/EuQzARCYScTUeVd8VmWhiGiagBJka7snQ5R58N4h7XB/xoRr//FoDic2NiorP5XREK1iAickRBOIW8oVGYbfACqA15wgW4rY0WhgLUHsOru6AdPBDAGrxIrMHWuAoiuVADd8X2fWJEvI7OvLzBzDEjoU0k7r3njFnckkR1xqveY0UbGuse+J6zeofrlzSFjflzrVtcdOur0tj87r6+/v3Hhy5RGMr/YPhG5nB2gU7V4YLUYo3UIpklEKEIn/KerqdMoKfLuWINtrHqc6jFXXFQEVRhPfgfTw5rNK1uB/EAFzfa1VZVP0n7sO401d5dNjIBHdvdDZ9Qrydi4KhF1ROlMfCNuZY45qecA5quQa9twbX14MF/P4ZpZpSPeM15MiFhmI5yJSyvCzzOoMMVCeBQASTJNJ0GqAtlKVW1YMxnkYsERcmahyXRPBkqOW0SMAcMz6mZlAZJPLfBomkDA7uamnZhdlG3AQ3i7iVD5R/KMPKB6G+dzr7+jrf6VMt4yTyZUe+HLDOP5cxRCfKhsTEYt3tuhW2B2zNuh22KJs1wazV8Xq9mU9g7TGx6EVUttMmnkz0SAl5PJjz9FbnNace6OgNd0wE++DXwj+KMcdrjgR7N5n6L45uMtpJEjEZ0cdOXjrU8OOT54b/3PX0mbcP3LPtictNP1DOn5z+WnVV8V2+wsCZ0Avultyb5y323Ja+4+79b+L9J6Jl7iiecqV4CeCZ7ZH7QAlH6Q6kqveBWX47W8FBBbebEIGkk18RSjQVLK0Q0T6HcIgWPWugNwzu4H2+sIg+QdCpPJhJSVtfG0fbMOGspm+Jgu+M5glgmPjPWBPBzxGjzFLEzggO0ShaTPeNI/z9gdVOYhKTmMQ4Mv4XqNF4/IvWiKFW/ZyNw8zjw6yCwOJFm8uL5hfPXkiN8H+XWPBFSlbVz1AMnmUwRNQS2yyWs/BECMBiWASboRyKYD4Uw2xYiFocUxYBGXWLVzrg1a/esrKswvXp6WM9QPbgze/bJu1Xm0MwNPoVwvg/EuxZMvZnxH9P7d8Zoat48RvQFEEjIgSbEG3jCOKtr2YcJ79H1ExiEpOYxBhIydhZ9g1JDZMYgY8dPXLiLsH3OejHguxhaWOiWr81768Y/ZUAp+cD2DRMhNV/Avtbuc8KZW5kc3RyZWFtCmVuZG9iagoxMyAwIG9iagoyNjM4CmVuZG9iago5IDAgb2JqCjw8L0Jhc2VGb250L1ZQWE5NRStUVDhFdDAwL0ZvbnREZXNjcmlwdG9yIDggMCBSL1R5cGUvRm9udAovRmlyc3RDaGFyIDEvTGFzdENoYXIgMTQvV2lkdGhzWyA2MDMgNjAzIDYwMyA2MDMgNjAzIDYwMyA2MDMgNjAzIDYwMyA2MDMgNjAzIDYwMyA2MDMgNjAzXQovRW5jb2RpbmcgMTQgMCBSL1N1YnR5cGUvVHJ1ZVR5cGU+PgplbmRvYmoKMTQgMCBvYmoKPDwvVHlwZS9FbmNvZGluZy9CYXNlRW5jb2RpbmcvV2luQW5zaUVuY29kaW5nL0RpZmZlcmVuY2VzWwoxL04vYS9tL24vbC9vZGllcmVzaXMvcy9kL2YvZy9TL2kvc3BhY2Uvb25lXT4+CmVuZG9iago4IDAgb2JqCjw8L1R5cGUvRm9udERlc2NyaXB0b3IvRm9udE5hbWUvVlBYTk1FK1RUOEV0MDAvRm9udEJCb3hbMCAtMjA1IDU4NiA3ODNdL0ZsYWdzIDQKL0FzY2VudCA3ODMKL0NhcEhlaWdodCA3ODMKL0Rlc2NlbnQgLTIwNQovSXRhbGljQW5nbGUgMAovU3RlbVYgODcKL01pc3NpbmdXaWR0aCA2MDIKL0ZvbnRGaWxlMiAxMiAwIFI+PgplbmRvYmoKMiAwIG9iago8PC9Qcm9kdWNlcihHUEwgR2hvc3RzY3JpcHQgOC4xNSkKL0NyZWF0aW9uRGF0ZShEOjIwMTQwODA4MTQxNTE4KQovTW9kRGF0ZShEOjIwMTQwODA4MTQxNTE4KQovVGl0bGUoXChOYW1ubFxcMzY2cyAtIEFudGVja25pbmdhclwpKQovQ3JlYXRvcihQU2NyaXB0NS5kbGwgVmVyc2lvbiA1LjIpCi9BdXRob3Ioam9vY3IpPj5lbmRvYmoKeHJlZgowIDE1CjAwMDAwMDAwMDAgNjU1MzUgZiAKMDAwMDAwMDUxNSAwMDAwMCBuIAowMDAwMDAzOTI3IDAwMDAwIG4gCjAwMDAwMDA0NDcgMDAwMDAgbiAKMDAwMDAwMDI4NyAwMDAwMCBuIAowMDAwMDAwMDE1IDAwMDAwIG4gCjAwMDAwMDAyNjggMDAwMDAgbiAKMDAwMDAwMDU2MyAwMDAwMCBuIAowMDAwMDAzNzI4IDAwMDAwIG4gCjAwMDAwMDM0MDcgMDAwMDAgbiAKMDAwMDAwMDYwNCAwMDAwMCBuIAowMDAwMDAwNjM0IDAwMDAwIG4gCjAwMDAwMDA2NjQgMDAwMDAgbiAKMDAwMDAwMzM4NiAwMDAwMCBuIAowMDAwMDAzNjA2IDAwMDAwIG4gCnRyYWlsZXIKPDwgL1NpemUgMTUgL1Jvb3QgMSAwIFIgL0luZm8gMiAwIFIKL0lEIFsoHjWZqjnLP1ixu1unALDdlykoHjWZqjnLP1ixu1unALDdlyldCj4+CnN0YXJ0eHJlZgo0MTI1CiUlRU9GCg==","description":"A base64 encoded pdf"},"fileName":{"type":"string","example":"abcdedfg.pdf","description":"the filename of the pdf 8 + 3 characters"},"contentType":{"type":"string","example":"application/pdf","pattern":"^application/(pdf|Xpdf)$"}}},"EmailMessageListRequest":{"type":"object","required":["body","contentType","emailAddresses","externalId","messageCategoryId","messageTypeId","systemId"],"properties":{"recipientId":{"type":"string","example":"YYYYMMDDXXXX","description":"A swedish personal number or an organization number"},"externalId":{"type":"string","example":"b9377f44-d006-4d81-803f-1abd24b1dba2","description":"A unique UUID generated by the client","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"messageTypeId":{"type":"string","example":"1","description":"A message type id ","pattern":"^[0-9]{1,5}$"},"systemId":{"type":"string","example":"1","description":"A system id agreed with the client","pattern":"^[0-9]{1,5}$"},"subject":{"type":"string"},"body":{"type":"string","example":"UmVzdGF1cmFuZ2vDtms","description":"A base64 encoded string"},"contentType":{"type":"string","example":"text/plain","description":"text/plain or text/html","pattern":"^(text)/(plain|html)","enum":["[text/plain","text/html]"]},"messageCategoryId":{"type":"string","example":"1","description":"A predefined message category id","pattern":"^[0-9]{1,5}$"},"messagePayloads":{"type":"array","items":{"$ref":"#/definitions/MessagePayLoadRequest"}},"emailAddresses":{"type":"array","example":"foo.bar@foo.se","description":"valid email addresses","items":{"$ref":"#/definitions/EmailAddress"}}}},"EletterMessageRequest":{"type":"object","required":["body","contentType","countryCode","externalId","messageCategoryId","messageTypeId","subject","systemId","zipCode"],"properties":{"recipientId":{"type":"string","example":"YYYYMMDDXXXX","description":"A swedish personal number or an organization number"},"externalId":{"type":"string","example":"b9377f44-d006-4d81-803f-1abd24b1dba2","description":"A unique UUID generated by the client","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"messageTypeId":{"type":"string","example":"1","description":"A message type id ","pattern":"^[0-9]{1,5}$"},"systemId":{"type":"string","example":"1","description":"A system id agreed with the client","pattern":"^[0-9]{1,5}$"},"subject":{"type":"string"},"body":{"type":"string","example":"UmVzdGF1cmFuZ2vDtms","description":"A base64 encoded string"},"contentType":{"type":"string","example":"text/plain","description":"text/plain or text/html","pattern":"^(text)/(plain|html)","enum":["[text/plain","text/html]"]},"messageCategoryId":{"type":"string","example":"1","description":"A predefined message category id","pattern":"^[0-9]{1,5}$"},"messagePayloads":{"type":"array","items":{"$ref":"#/definitions/MessagePayLoadRequest"}},"emailAddresses":{"type":"array","items":{"type":"string"}},"zipCode":{"type":"string","example":"12345","description":"A swedish postal number","pattern":"^(s-|S-){0,1}[0-9]{3}\\s?[0-9]{2}$"},"countryCode":{"type":"string","example":"SE","description":"Country ISO code","pattern":"^(AF|AX|AL|DZ|AS|AD|AO|AI|AQ|AG|AR|AM|AW|AU|AT|AZ|BS|BH|BD|BB|BY|BE|BZ|BJ|BM|BT|BO|BQ|BA|BW|BV|BR|IO|BN|BG|BF|BI|KH|CM|CA|CV|KY|CF|TD|CL|CN|CX|CC|CO|KM|CG|CD|CK|CR|CI|HR|CU|CW|CY|CZ|DK|DJ|DM|DO|EC|EG|SV|GQ|ER|EE|ET|FK|FO|FJ|FI|FR|GF|PF|TF|GA|GM|GE|DE|GH|GI|GR|GL|GD|GP|GU|GT|GG|GN|GW|GY|HT|HM|VA|HN|HK|HU|IS|IN|ID|IR|IQ|IE|IM|IL|IT|JM|JP|JE|JO|KZ|KE|KI|KP|KR|KW|KG|LA|LV|LB|LS|LR|LY|LI|LT|LU|MO|MK|MG|MW|MY|MV|ML|MT|MH|MQ|MR|MU|YT|MX|FM|MD|MC|MN|ME|MS|MA|MZ|MM|NA|NR|NP|NL|NC|NZ|NI|NE|NG|NU|NF|MP|NO|OM|PK|PW|PS|PA|PG|PY|PE|PH|PN|PL|PT|PR|QA|RE|RO|RU|RW|BL|SH|KN|LC|MF|PM|VC|WS|SM|ST|SA|SN|RS|SC|SL|SG|SX|SK|SI|SB|SO|ZA|GS|SS|ES|LK|SD|SR|SJ|SZ|SE|CH|SY|TW|TJ|TZ|TH|TL|TG|TK|TO|TT|TN|TR|TM|TC|TV|UG|UA|AE|GB|US|UM|UY|UZ|VU|VE|VN|VG|VI|WF|EH|YE|ZM|ZW)$","enum":["AF","AX","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE","BZ","BJ","BM","BT","BO","BQ","BA","BW","BV","BR","IO","BN","BG","BF","BI","KH","CM","CA","CV","KY","CF","TD","CL","CN","CX","CC","CO","KM","CG","CD","CK","CR","CI","HR","CU","CW","CY","CZ","DK","DJ","DM","DO","EC","EG","SV","GQ","ER","EE","ET","FK","FO","FJ","FI","FR","GF","PF","TF","GA","GM","GE","DE","GH","GI","GR","GL","GD","GP","GU","GT","GG","GN","GW","GY","HT","HM","VA","HN","HK","HU","IS","IN","ID","IR","IQ","IE","IM","IL","IT","JM","JP","JE","JO","KZ","KE","KI","KP","KR","KW","KG","LA","LV","LB","LS","LR","LY","LI","LT","LU","MO","MK","MG","MW","MY","MV","ML","MT","MH","MQ","MR","MU","YT","MX","FM","MD","MC","MN","ME","MS","MA","MZ","MM","NA","NR","NP","NL","NC","NZ","NI","NE","NG","NU","NF","MP","NO","OM","PK","PW","PS","PA","PG","PY","PE","PH","PN","PL","PT","PR","QA","RE","RO","RU","RW","BL","SH","KN","LC","MF","PM","VC","WS","SM","ST","SA","SN","RS","SC","SL","SG","SX","SK","SI","SB","SO","ZA","GS","SS","ES","LK","SD","SR","SJ","SZ","SE","CH","SY","TW","TJ","TZ","TH","TL","TG","TK","TO","TT","TN","TR","TM","TC","TV","UG","UA","AE","GB","US","UM","UY","UZ","VU","VE","VN","VG","VI","WF","EH","YE","ZM","ZW"]}}},"SmsMessageRequest":{"type":"object","required":["body","contentType","externalId","messageCategoryId","messageTypeId","phoneNumbers","systemId"],"properties":{"recipientId":{"type":"string","example":"YYYYMMDDXXXX","description":"A swedish personal number or an organization number"},"expiresAt":{"type":"string","example":"2017-09-05T14:00:00","description":"yyyy-MM-dd'T'HH:mm:ss When the sms should be expired, if expired the message is'nt sent"},"externalId":{"type":"string","example":"b9377f44-d006-4d81-803f-1abd24b1dba2","description":"A unique UUID generated by the client","pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"},"messageTypeId":{"type":"string","example":"1","description":"A message type id ","pattern":"^[0-9]{1,5}$"},"systemId":{"type":"string","example":"1","description":"A system id agreed with the client","pattern":"^[0-9]{1,5}$"},"subject":{"type":"string"},"body":{"type":"string","example":"UmVzdGF1cmFuZ2vDtms","description":"A base64 encoded string"},"contentType":{"type":"string","example":"text/plain","description":"text/plain or text/html","pattern":"^(text)/(plain|html)","enum":["[text/plain","text/html]"]},"messageCategoryId":{"type":"string","example":"1","description":"A predefined message category id","pattern":"^[0-9]{1,5}$"},"messagePayloads":{"type":"array","items":{"$ref":"#/definitions/MessagePayLoadRequest"}},"emailAddresses":{"type":"array","items":{"type":"string"}},"phoneNumbers":{"type":"array","items":{"$ref":"#/definitions/SmsPhoneNumberRequest"},"maxItems":500,"minItems":1}}},"MessageArchive":{"type":"object","properties":{"messageId":{"type":"string","format":"uuid"},"externalId":{"type":"string","format":"uuid"},"businessSystemId":{"type":"integer","format":"int64"},"messageTypeId":{"type":"integer","format":"int64"},"recipientId":{"type":"string"},"operatorName":{"type":"string"},"statusArchives":{"type":"array","items":{"$ref":"#/definitions/StatusArchive"}}}},"EmailAddress":{"type":"object","required":["emailAddress"],"properties":{"emailAddress":{"type":"string"}}}}}
