.af_button{
    color: #00005a;
}
/*
style="background:rgb(183, 238, 74);
border-radius: 30px;
height: 40px;
width: 166px;
display: flex;
justify_content: space-between;
position: relative;
width = 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
"
*/
