textarea.form-control {
    border: 1px solid #949494;
}

textarea.form-control:focus {
    outline: 2px solid #949494;
}

img {
    width: 15%;
    max-width: 250px;
    min-width: 160px;
}

