@media (max-width: 610px) {
    #dialog {
        padding: 25px 15px !important;
    }
    #button_container {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

#af_logo {
    max-width: 256px;
    min-width: 160px;
    padding: 10px;
}

#overlay {
    position: fixed;
    z-index: 150;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.30);
    display: none;
}

[aria-hidden="true"], [aria-hidden="1"] {
    display: inline !important;
}

#dialog {
    position: absolute;
    z-index: 200;
    top: 30vh;
    left: 8vw;
    right: 8vw;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: #ffffff;
    visibility: visible;
    padding: 25px;
}

#dialog p {
    color: #333333;
    font-size: 16px;
    font-family: 'Open Sans';
}

#dialog h2 {
    color: #333333;
    font-family: 'Open Sans Semibold';
    font-size: 22px;
    font-weight: 600;
}

#dialog [hidden] {
    display: block;
    visibility: hidden;
    transform: scale(.5);
    opacity: .6;
    padding: 10px;
}

#dialog div[role=document] {
    display: inline;
}

#dialog div[role=document] div {
    box-sizing: border-box;
    overflow: auto;
}

#dialog button {
    border-radius: 5px;
    line-height: 0;
    height: 1.5em;
    overflow: hidden;
    padding: 17px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #00005a;
    font-family: 'Open Sans Semibold';
    font-weight: 600;
    font-size: 14px;
}
#button_container {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

#dialogClose {
    background: #FFFFFF;
    color: #00005a;
}

#dialogClose:hover {
    background: #f1f8fe;
}
#dialogSubmit {
    background: #00005a;
    color: #FFFFFF;
}
#dialogSubmit:hover {
    background: #1616b2;
}

#unsubscribe {
    float:right;
    color: #FFFFFF;
    background: #00005a;
    font-family: 'Open Sans Semibold';
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #00005a;
    line-height: 0;
    padding: 17px;
}

#unsubscribe:hover {
    background: #1616b2;
}

#information_card {
    background: #f4f8eb;
    color: #333333;
    padding: 40px;
    max-width: 700px;
    margin:0 auto;
}

#information_card h1 {
    font-family: 'Open Sans Semibold';
    font-size: 28px;
    font-weight: 600;
}

#information_card p {
    font-family: 'Open Sans';
    font-size: 16px;
}

#reason_form {
    color: #333333;
}

#reason_form h2 {
    font-size:22px;
    font-family: 'Open Sans Semibold';
    font-weight:600;
}

#reason_form p {
    font-size: 16px;
    font-family: 'Open Sans';
}

#reason_form fieldset {
    margin-top: 20px;
}

#reason_form legend {
    font-family: 'Open Sans Semibold';
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 12px;
}

.radio_container {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #333333;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio_container input[type='radio'] {
    position: relative;
    top: 6px;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(51, 51, 51);
    margin-right: 10px;
}

.radio_container input[type='radio']:before {
    content: '';
    display: block;
    width: 75%;
    height: 75%;
    margin: 12% auto;
    border-radius: 50%;
}

.radio_container input[type='radio']:checked:before {
    background: #00005a;
}

.radio_container input[type='radio']:checked {
    border: 1px solid #00005a;
}

#other_reason {
    padding-top: 8px;
    padding-left: 35px;
    color: #333333;
}

#other_reason label {
    font-family: 'Open Sans Semibold';
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

#other_reason textarea {
    font-family: 'Open Sans';
    max-width: 600px;
    height: 75px;
    border: 1px solid rgb(102, 102, 102);
    font-size: 16px;
}

#other_reason:focus {
    outline: 1px solid rgb(102, 102, 102);
}

#closeDiv {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #333333;
    font-size: 16px;
    font-family: 'Open Sans';
}

#closeDiv img {
    width: 22px;
    height: 22px;
    filter: brightness(0);
    opacity: 0.7;
    margin-left: 5px;
}
